slnUPCDistribuidos/UnitTestProject1/Service References/contratoPersona/Personas.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Personas" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8408/Personas.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8408/Personas.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8408/Personas.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFServices.Dominio" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPersonas_PersonaCrear_InputMessage">
    <wsdl:part name="parameters" element="tns:PersonaCrear" />
  </wsdl:message>
  <wsdl:message name="IPersonas_PersonaCrear_OutputMessage">
    <wsdl:part name="parameters" element="tns:PersonaCrearResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonas_PersonaModificar_InputMessage">
    <wsdl:part name="parameters" element="tns:PersonaModificar" />
  </wsdl:message>
  <wsdl:message name="IPersonas_PersonaModificar_OutputMessage">
    <wsdl:part name="parameters" element="tns:PersonaModificarResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonas_PersonaObtener_InputMessage">
    <wsdl:part name="parameters" element="tns:PersonaObtener" />
  </wsdl:message>
  <wsdl:message name="IPersonas_PersonaObtener_OutputMessage">
    <wsdl:part name="parameters" element="tns:PersonaObtenerResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonas_PersonaEliminar_InputMessage">
    <wsdl:part name="parameters" element="tns:PersonaEliminar" />
  </wsdl:message>
  <wsdl:message name="IPersonas_PersonaEliminar_OutputMessage">
    <wsdl:part name="parameters" element="tns:PersonaEliminarResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonas_PersonaListar_InputMessage">
    <wsdl:part name="parameters" element="tns:PersonaListar" />
  </wsdl:message>
  <wsdl:message name="IPersonas_PersonaListar_OutputMessage">
    <wsdl:part name="parameters" element="tns:PersonaListarResponse" />
  </wsdl:message>
  <wsdl:portType name="IPersonas">
    <wsdl:operation name="PersonaCrear">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonas/PersonaCrear" message="tns:IPersonas_PersonaCrear_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonas/PersonaCrearResponse" message="tns:IPersonas_PersonaCrear_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PersonaModificar">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonas/PersonaModificar" message="tns:IPersonas_PersonaModificar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonas/PersonaModificarResponse" message="tns:IPersonas_PersonaModificar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PersonaObtener">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonas/PersonaObtener" message="tns:IPersonas_PersonaObtener_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonas/PersonaObtenerResponse" message="tns:IPersonas_PersonaObtener_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PersonaEliminar">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonas/PersonaEliminar" message="tns:IPersonas_PersonaEliminar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonas/PersonaEliminarResponse" message="tns:IPersonas_PersonaEliminar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PersonaListar">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonas/PersonaListar" message="tns:IPersonas_PersonaListar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonas/PersonaListarResponse" message="tns:IPersonas_PersonaListar_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPersonas" type="tns:IPersonas">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PersonaCrear">
      <soap:operation soapAction="http://tempuri.org/IPersonas/PersonaCrear" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PersonaModificar">
      <soap:operation soapAction="http://tempuri.org/IPersonas/PersonaModificar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PersonaObtener">
      <soap:operation soapAction="http://tempuri.org/IPersonas/PersonaObtener" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PersonaEliminar">
      <soap:operation soapAction="http://tempuri.org/IPersonas/PersonaEliminar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PersonaListar">
      <soap:operation soapAction="http://tempuri.org/IPersonas/PersonaListar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Personas">
    <wsdl:port name="BasicHttpBinding_IPersonas" binding="tns:BasicHttpBinding_IPersonas">
      <soap:address location="http://localhost:8408/Personas.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>