slnUPCDistribuidos/upcDistribuidos.ClienteProxy/Service References/MaterialService/MaterialService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/upcDistribuidos.Entidades.Mapper" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/upcDistribuidos.Entidades.Mapper" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfMaterialListar">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MaterialListar" nillable="true" type="tns:MaterialListar" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMaterialListar" nillable="true" type="tns:ArrayOfMaterialListar" />
  <xs:complexType name="MaterialListar">
    <xs:sequence>
      <xs:element minOccurs="0" name="Anio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Autor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Editorial" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Flag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoMaterial" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Titulo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MaterialListar" nillable="true" type="tns:MaterialListar" />
</xs:schema>