slnUPCDistribuidos/upcDistribuidos.ClienteProxy/Service References/MaterialService/MaterialService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1594/Materiales/MaterialService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/upcDistribuidos.Entidades.Entidades" />
  <xs:import schemaLocation="http://localhost:1594/Materiales/MaterialService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/upcDistribuidos.Entidades.Mapper" />
  <xs:element name="ObtenerMaterial">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cod" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerMaterialResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/upcDistribuidos.Entidades.Entidades" minOccurs="0" name="ObtenerMaterialResult" nillable="true" type="q1:Material" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarMaterial">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/upcDistribuidos.Entidades.Entidades" minOccurs="0" name="material" nillable="true" type="q2:Material" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarMaterialResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/upcDistribuidos.Entidades.Entidades" minOccurs="0" name="RegistrarMaterialResult" nillable="true" type="q3:Material" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarMateriales">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/upcDistribuidos.Entidades.Entidades" minOccurs="0" name="material" nillable="true" type="q4:Material" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarMaterialesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/upcDistribuidos.Entidades.Mapper" minOccurs="0" name="ListarMaterialesResult" nillable="true" type="q5:ArrayOfMaterialListar" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminaMaterial">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cod" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminaMaterialResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminaMaterialResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarMaterial">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/upcDistribuidos.Entidades.Entidades" minOccurs="0" name="material" nillable="true" type="q6:Material" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarMaterialResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/upcDistribuidos.Entidades.Entidades" minOccurs="0" name="ModificarMaterialResult" nillable="true" type="q7:Material" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>