slnUPCDistribuidos/upcDistribuidos.ClienteProxy/Service References/MaterialService/MaterialService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/upcDistribuidos.Entidades.Entidades" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/upcDistribuidos.Entidades.Entidades" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Material">
    <xs:sequence>
      <xs:element minOccurs="0" name="Anio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Autor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cantidad" type="xs:int" />
      <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Editorial" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Flag" type="xs:int" />
      <xs:element minOccurs="0" name="Stock" type="xs:int" />
      <xs:element minOccurs="0" name="TipoId" type="xs:int" />
      <xs:element minOccurs="0" name="Titulo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Material" nillable="true" type="tns:Material" />
</xs:schema>