slnUPCDistribuidos/upcDistribuidos.ClienteProxy/Service References/UsuarioService/UsuarioService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/upcDistribuidos.Entidades.Mapper" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/upcDistribuidos.Entidades.Mapper" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfUsuarioListar">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UsuarioListar" nillable="true" type="tns:UsuarioListar" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUsuarioListar" nillable="true" type="tns:ArrayOfUsuarioListar" />
  <xs:complexType name="UsuarioListar">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodUsuario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreCompleto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Perfil" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UsuarioListar" nillable="true" type="tns:UsuarioListar" />
</xs:schema>