slnUPCDistribuidos/upcDistribuidos.ClienteProxy/Service References/UsuarioService/UsuarioService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1594/Seguridad/UsuarioService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/upcDistribuidos.Entidades.Entidades" />
  <xs:import schemaLocation="http://localhost:1594/Seguridad/UsuarioService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/upcDistribuidos.Entidades.Mapper" />
  <xs:element name="ObtenerUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cod" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/upcDistribuidos.Entidades.Entidades" minOccurs="0" name="ObtenerUsuarioResult" nillable="true" type="q1:Usuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/upcDistribuidos.Entidades.Entidades" minOccurs="0" name="usuario" nillable="true" type="q2:Usuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/upcDistribuidos.Entidades.Entidades" minOccurs="0" name="RegistrarUsuarioResult" nillable="true" type="q3:Usuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarUsuarios">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/upcDistribuidos.Entidades.Entidades" minOccurs="0" name="usuario" nillable="true" type="q4:Usuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarUsuariosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/upcDistribuidos.Entidades.Mapper" minOccurs="0" name="ListarUsuariosResult" nillable="true" type="q5:ArrayOfUsuarioListar" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>