slnUPCDistribuidos/upcDistribuidos.Pruebas/Service References/PrestamoWS/PrestamoService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/upcDistribuidos.Entidades.Mapper" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/upcDistribuidos.Entidades.Mapper" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPrestamoListar">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PrestamoListar" nillable="true" type="tns:PrestamoListar" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPrestamoListar" nillable="true" type="tns:ArrayOfPrestamoListar" />
  <xs:complexType name="PrestamoListar">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodEstado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodPersona" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaDevolucion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaEntrega" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaPrestamo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaReserva" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Persona" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PrestamoListar" nillable="true" type="tns:PrestamoListar" />
</xs:schema>