slnUPCDistribuidos/upcDistribuidos.Pruebas/Service References/MaterialesWS/MaterialService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MaterialService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1594/Materiales/MaterialService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1594/Materiales/MaterialService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/upcDistribuidos.Entidades.Errores" />
      <xsd:import schemaLocation="http://localhost:1594/Materiales/MaterialService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1594/Materiales/MaterialService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/upcDistribuidos.Entidades.Entidades" />
      <xsd:import schemaLocation="http://localhost:1594/Materiales/MaterialService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/upcDistribuidos.Entidades.Mapper" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMaterialService_ObtenerMaterial_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerMaterial" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_ObtenerMaterial_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerMaterialResponse" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_ObtenerMaterial_ParametroExceptionFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/upcDistribuidos.Entidades.Errores" name="detail" element="q1:ParametroException" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_RegistrarMaterial_InputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarMaterial" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_RegistrarMaterial_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarMaterialResponse" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_RegistrarMaterial_ParametroExceptionFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/upcDistribuidos.Entidades.Errores" name="detail" element="q2:ParametroException" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_RegistrarMaterial_RepetidoExceptionFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/upcDistribuidos.Entidades.Errores" name="detail" element="q3:RepetidoException" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_ListarMateriales_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarMateriales" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_ListarMateriales_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarMaterialesResponse" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_ListarMateriales_ParametroExceptionFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/upcDistribuidos.Entidades.Errores" name="detail" element="q4:ParametroException" />
  </wsdl:message>
  <wsdl:portType name="IMaterialService">
    <wsdl:operation name="ObtenerMaterial">
      <wsdl:input wsaw:Action="http://tempuri.org/IMaterialService/ObtenerMaterial" message="tns:IMaterialService_ObtenerMaterial_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMaterialService/ObtenerMaterialResponse" message="tns:IMaterialService_ObtenerMaterial_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IMaterialService/ObtenerMaterialParametroExceptionFault" name="ParametroExceptionFault" message="tns:IMaterialService_ObtenerMaterial_ParametroExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegistrarMaterial">
      <wsdl:input wsaw:Action="http://tempuri.org/IMaterialService/RegistrarMaterial" message="tns:IMaterialService_RegistrarMaterial_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMaterialService/RegistrarMaterialResponse" message="tns:IMaterialService_RegistrarMaterial_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IMaterialService/RegistrarMaterialParametroExceptionFault" name="ParametroExceptionFault" message="tns:IMaterialService_RegistrarMaterial_ParametroExceptionFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IMaterialService/RegistrarMaterialRepetidoExceptionFault" name="RepetidoExceptionFault" message="tns:IMaterialService_RegistrarMaterial_RepetidoExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarMateriales">
      <wsdl:input wsaw:Action="http://tempuri.org/IMaterialService/ListarMateriales" message="tns:IMaterialService_ListarMateriales_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMaterialService/ListarMaterialesResponse" message="tns:IMaterialService_ListarMateriales_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IMaterialService/ListarMaterialesParametroExceptionFault" name="ParametroExceptionFault" message="tns:IMaterialService_ListarMateriales_ParametroExceptionFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMaterialService" type="tns:IMaterialService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerMaterial">
      <soap:operation soapAction="http://tempuri.org/IMaterialService/ObtenerMaterial" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ParametroExceptionFault">
        <soap:fault use="literal" name="ParametroExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RegistrarMaterial">
      <soap:operation soapAction="http://tempuri.org/IMaterialService/RegistrarMaterial" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ParametroExceptionFault">
        <soap:fault use="literal" name="ParametroExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="RepetidoExceptionFault">
        <soap:fault use="literal" name="RepetidoExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ListarMateriales">
      <soap:operation soapAction="http://tempuri.org/IMaterialService/ListarMateriales" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ParametroExceptionFault">
        <soap:fault use="literal" name="ParametroExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MaterialService">
    <wsdl:port name="BasicHttpBinding_IMaterialService" binding="tns:BasicHttpBinding_IMaterialService">
      <soap:address location="http://localhost:1594/Materiales/MaterialService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>