slnUPCDistribuidos/upcDistribuidos.ClienteProxy/Service References/MaestroService/MaestroService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/upcDistribuidos.Entidades.Entidades" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/upcDistribuidos.Entidades.Entidades" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfEstado">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Estado" nillable="true" type="tns:Estado" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEstado" nillable="true" type="tns:ArrayOfEstado" />
  <xs:complexType name="Estado">
    <xs:sequence>
      <xs:element minOccurs="0" name="Abreviatura" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Estado" nillable="true" type="tns:Estado" />
  <xs:complexType name="ArrayOfTipoMaterial">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TipoMaterial" nillable="true" type="tns:TipoMaterial" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTipoMaterial" nillable="true" type="tns:ArrayOfTipoMaterial" />
  <xs:complexType name="TipoMaterial">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TipoMaterial" nillable="true" type="tns:TipoMaterial" />
  <xs:complexType name="ArrayOfCategoria">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Categoria" nillable="true" type="tns:Categoria" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCategoria" nillable="true" type="tns:ArrayOfCategoria" />
  <xs:complexType name="Categoria">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Categoria" nillable="true" type="tns:Categoria" />
</xs:schema>